[Unit]
Description=Centreon log analyser

[Service]
Type=oneshot
User=centreon
Environment=PATH=/sbin:/bin:/usr/sbin:/usr/bin
Environment=CRONTAB_EXEC_USER=
ExecStart=/bin/sh -c 'exec /usr/share/centreon/cron/logAnalyser --config=/etc/centreon/conf.pm >> /var/log/centreon/logAnalyser.log 2>&1'
