[Unit]
Description=Centreon downtime manager

[Service]
Type=oneshot
User=apache
Environment=PATH=/sbin:/bin:/usr/sbin:/usr/bin
Environment=CRONTAB_EXEC_USER=
ExecStart=/bin/sh -c 'exec /usr/bin/php -q /usr/share/centreon/cron/downtimeManager.php >> /var/log/centreon/downtimeManager.log 2>&1'
